.title {
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
}

.mapContainer {
  height: 400px; /* Adjust based on your preference */
}

.leaflet-container {
  position: inherit;
  height: 100%;
  width: 100%;
}
